/*usei o elemento header para o cabeçalho*/
header {
    background-color: #2EA3CA ;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    height: auto;
    border: solid 1px black;
    border-radius: 15px;
    grid-column-start: 1;
    grid-column-end: 12;
}
/*Usei o elemento nav para o menu e desloquei a esqueda*/
nav {
    background-color: white;
    width: 20%;
    height: 20px;
    font-size: 1.2rem;
    border-radius: 15px;
    float: left;
}

/*Usei container para formar os blocos do menu*/
.container {
    
}

.form {
    padding:15px;
}
/*utilizei elementos div para alocar os links do menu*/
div {
    border: 1px solid black;
    padding: 5px;
    background-color: #567b83;
    color: rgb(15, 15, 15);
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 10px 30px;
    text-align: center;
   
}

/*utilizei o elemento section para alocar o texto da página*/
section {
    background-color: white;
    border: solid 1px black;
    margin-left: 20%;
    border: 1px #426875;
    font-size: 1.2rem; 
}

h1 {
    color: #333;
    font-size: 40px;
}

p {
    margin-left: 15px;
    text-align: left;
}

h3 {
    color: black;
    text-align: left;
    margin-left: 10%
}

/*Utilizei o elemento footer para alocar o rodapé*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/*CSS do formulário de contato*/
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #426875;
    color: rgb(250, 248, 248);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
